/* ClaimList.css */

/* 컨테이너 스타일 */
.Container {
  /* padding: 30px; 패딩 */
  flex-direction: column;
  align-items: center; /* 가운데 정렬 */
  display: flex;
}
.Col {
  flex-direction: column; /*수직 정렬*/
}
h3 {
  font-family: Arial, sans-serif; /* 글꼴 */
  margin-bottom: 20px; /* 아래 여백 */
  color: #333; /* 글자색 */
  text-align: center; /* 중앙 정렬 */
}
/* index.css */
/* 정사각형 버튼 디자인 */
.square-btn {
  width: 200px; /* 버튼의 너비 */
  height: 200px; /* 버튼의 높이 */
  font-size: 14px; /* 텍스트 크기 */
  display: block; /* 버튼의 기본 디스플레이 값을 블록으로 설정 */
  margin: 20px auto; /* 위 아래 20px 마진, 좌우는 자동(가운데 정렬을 위해) */
  text-align: center; /* 텍스트를 가운데로 정렬 */
  margin-right: 10px; /*오른쪽 마진 */
}
.table {
  align-items: center;
  text-align: center;
}
.claim-details {
  padding: 10px;
}
